.DS_Store
en.subject.pdf
node_modules
dist
build
npm-debug.log
postgres_data
postgresdata
api-spec.json
*/package-lock.json
backend/uploads/avatars/*
!backend/uploads/avatars/default.jpg
frontend/sdk/typescript-axios-client-generated
# .env
# database.env