.DS_Store
en.subject.pdf
node_modules
# dist
# build
npm-debug.log
postgres_data
postgresdata
# api-spec.json
*/package-lock.json
backend/uploads/avatars/*
!backend/uploads/avatars/default.jpg
!backend/uploads/avatars/Owner.jpg
!backend/uploads/avatars/user1.jpg
frontend/sdk/typescript-axios-client-generated
npm-errors
.vscode

# .env
# database.env
