@import "./base/fonts";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./components/buttons";
@import "./base/app";
@import "./layouts/header";
@import "./layouts/sidebar";
@import "./layouts/profile";
@import "./layouts/stats";
@import "./layouts/otpForm";
@import "./layouts/errors";

html {
  font-size: 100%;

  @media (max-width: 720px), (max-height: 700px){
    font-size: 80%;
  }
  @media (max-width: 500px), (max-height: 700px){
    font-size: 70%;
  }
  @media (max-height: 500px){
    font-size: 60%;
  }
  @media (max-height: 400px){
    font-size: 50%;
  }
}
