@import "./base/fonts";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./components/buttons";
@import "./components/links";
@import "./base/transitions";
@import "./base/app";
@import "./layouts/header";
@import "./layouts/sidebar";
@import "./layouts/profile";
@import "./layouts/users";
@import "./layouts/stats";
@import "./layouts/otpForm";
@import "./layouts/errors";
@import "./layouts/admin";
@import "./layouts/menu";
@import "./layouts/pong-launch";
@import "./layouts/pong-game";
@import "./layouts/ladder";
@import "./components/toasts";
@import "./components/modal";
@import "./components/table";
@import "./components/list";
@import "./layouts/editUser";
@import "./layouts/chat";
@import "./layouts/logIn";

* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 255, 255, 0.2) black;
}

*::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
}

html {
  font-size: 100%;

  @media (max-width: 720px) {
    font-size: 80%;
  }
  @media (max-width: 500px) {
    font-size: 70%;
  }
}

h1 {
  color: white;
  font-family: "Saira";
  font-size: 2rem;
  @media (max-width: 950px) {
    font-size: 1.5rem;
  }
}

hr {
  border-top: rgba(255, 255, 255, 0.2) dashed 1px;
  width: 75%;
  height: 1px;
}
