@mixin button-hover() {
  border: $button-hover-border;
  background-color: $button-hover-bg-color;
  text-decoration: none;
}

@mixin hover-modifier($color) {
  &:hover {
    background-color: darken($color, 5);
  }
}
