//COLORS
$prim-color: #00ffff;
$second-color: adjust_hue($prim-color, 120);
$third-color: adjust_hue($second-color, 120);
$fourth-color: complement($prim-color);

//HEADER
$header-bg-color: black;
$header-text-color: white;
$header-height: 4rem;
$header-font: "Saira";
$header-font-size: 3rem;
$header-bloc-gap: 7px;
$user-bloc-gap: 14px;
$user-bloc-name-font: "Saira";
$user-bloc-name-size: 1.5rem;
$user-bloc-name-color: white;
$user-bloc-avatar-width: 1.7rem;
$user-bloc-hover-opacity: 0.8;
$user-bloc-margin: 0 2rem 0 0;

//SIDEBAR
$sidebar-bg-color: black;
$sidebar-item-hover: rgba(255, 255, 255, 50%);
$sidebar-text-color: white;
$sidebar-top: 4rem;
$sidebar-width: 6rem;
$sidebar-padding: 2rem 0 2rem 0;
$sidebar-gap: 1rem;
$sidebar-link-gap: 0.15rem;
$sidebar-link-color: white;
$sidebar-link-active-color: rgba(255, 255, 255, 30%);
$sidebar-font: "Saira";
$sidebar-font-size: 1rem;
$sidebar-border-radius: 50px;

//PROFILE
$profile-width: 1000px;
$profile-height: 700px;
$profile-background-color: rgba(0, 0, 0, 50%);
$profile-div-bg-color: rgba(0, 0, 0, 80%);
$profile-avatar-width: 50%;
$profile-left-gap: 0rem;
$profile-left-margin: 2rem 0;
$profile-left-padding: 2rem;
$profile-left-name-font: "Saira";
$profile-left-name-size: 4rem;
$profile-main-margin: 2rem 0;
$profile-main-padding: 2rem;
$profile-main-width: 100%;
$profile-social-width: 80%;
$profile-social-width-column: 50%;
$profile-social-gap: 5px;
$profile-social-margin: 1rem 0 0 0;

//CHAT
$chat-main-font: "Saira", Arial;
$chat-font-light: white;
$chat-font-dark: black;
$chat-bg-light:rgba(240, 255, 255, 0.253);
$chat-bg-dark:rgba(0, 0, 0, 0.808);
$chat-height: 600px;
$chat-width: 70%;
$chat-border-radius: 10px;
$chat-margin-left: 15%;
$chat-bg: rgba(0, 0, 0, 0.705);
$chat-box-width: 100%;
$chat-min-width: 200px;
$chat-input-width: 95%;
$chat-input-height: 2rem;
$chat-input-padding: 20px;
$chat-input-margin-left: 10px;
$chat-input-color: black;
$chat-input-bg: white;
$chat-input-border: 1px solid grey;
$chat-input-border-radius: 10px;
$chat-greyed-input: rgba(114, 114, 114, 0.822);
$chat-header-width: 100%;
$chat-header-padding: 48px 10px 10px 10px;
$chat-header-bg: rgba(240, 255, 255, 0.253);
$chat-header-font-size: 1.5rem;
$chat-header-name-width: 60%;
$chat-header-border-radius: 15%;
$chat-header-margin: 0px 0px 5px 10px;
$chat-msg-container-height: 70%;
$chat-msg-container-margin: 0 0 0 -20px;
$chat-msg-border-width: 1px;
$chat-msg-border-color: grey;
$chat-msg-padding: 10px;
$chat-msg-author-width: 5em;
$chat-msg-content-padding: 10px;
$chans-padding: 30px 0;
$chans-bg: rgba(12, 12, 12, 0.651);
$chans-height: 100%;
$chans-width: 35%;
$chans-min-width: 170px;
$chans-list-padding: 0;
$chans-item-width: 100%;
$chans-item-bg: rgba(0, 0, 0, 0.609);
$chans-item-padding: 5px 10px;
$chans-item-width: 100%;
$chans-item-hover-bg: rgba(218, 218, 218, 0.384);
$chans-item-name-width: 70%;
$chans-createbtn-width: 100%;
$chans-createbtn-padding: 20px;
$chans-createbtn-bg: rgba(0, 0, 0, 0.609);
$chans-title-padding: 20px;
$create-channel-width: 300px;
$create-channel-padding: 20px;
$create-channel-position: 50%;
$create-channel-margin: - ($create-channel-width * 0.5);
$create-channel-border-radius: 15px;
$create-channel-title-padding: 10px;
$create-channel-title-margin: 10px;
$create-channel-title-width: 85%;
$create-channel-title-font-size: 1.2rem;
$create-channel-title-border-radius: 15px;
$create-channel-subtitle-font-size: 1.1rem;
$create-channel-subtitle-margin: 10px;
$create-channel-input-radius: 10px;
$create-channel-radio-margin: 10px;

//STATS
$stats-width: 100%;
$stats-height: 100%;
$stats-grid: 30% 10% 60% / 33% 33% 33%;
$stats-gap: 1rem;
$stats-number-size: 2.5rem;
$stats-win-color: $third-color;
$stats-rank-color: $second-color;
$stats-games-color: $prim-color;
$stats-text-font: "Roboto";
$stats-text-size: 1rem;
$stats-bloc-margin: 0rem 0rem;
$stats-bloc-border-height: 7rem;
$stats-bloc-border-width: 7rem;
$stats-bloc-border-border-radius: 50%;
$stats-bloc-border-bg: linear-gradient($prim-color, $second-color);
$stats-bloc-height: 6.5rem;
$stats-bloc-width: 6.5rem;
$stats-bloc-border-radius: 50%;
$stats-bloc-bg: black;
$game-history-height: 80%;
$game-history-panel-height: 100%;
$game-history-panel-bg: rgba(0, 0, 0, 50%);
$game-history-title-bg: rgba(0, 0, 0, 100%);
$game-history-title-width: 100%;
$game-history-title-font: "Saira";
$game-history-title-border: white solid;


//PROGRESS BAR
$progress-bar-width: 100%;
$progress-bar-height: 2rem;
$progress-bar-padding: 0.2rem;
$progress-bar-bg: #313131;
$progress-bar-border-radius: 16px;
$progress-bar-box-shadow: inset 0 1px 2px #000;
$progress-bar-border: 1px solid black;
$progress-bar-inside-bg: linear-gradient(to right, $second-color, $prim-color, $third-color);
$progress-bar-label-font: "Saira";
$progress-bar-inside-height: 80%;
$progress-bar-inside-border-radius: 12px;
$progress-bar-label-color: black;

//RAINBOW TITLE

$rainbow-border-bg: linear-gradient($prim-color, $second-color);
$rainbow-border-border-radius: 25px;
$rainbow-border-height: 1.8rem;
$rainbow-border-width: 100%;
$rainbow-border-padding: 0.1rem;
$rainbow-title-bg: rgba(0, 0, 0, 100%);
$rainbow-title-width: 100%;
$rainbow-border-radius: 25px;
$rainbow-title-font: "Saira";



//BUTTONS
$button-bg-color: rgba(0, 0, 0, 80%);
$button-width: 100%;
$button-font: "Saira";
$button-color: white;
$button-border-radius: 50px;
$button-border: none;
$button-padding: 5px 10px;
$button-hover-bg-color: black;
$button-hover-border: none;
$button-msg-bg: darken($prim-color, 15);
$button-add-bg: darken($second-color, 15);
$button-invite-bg: darken($third-color, 15);
$button-block-bg: grey;
$button-log-in-size: 1.5rem;
$button-log-in-padding: 10px 50px;
$button-log-in-logo-width: 3rem;

//OTHERS
$status-online-color: rgb(0, 255, 0);
$status-in-game-color: rgb(255, 0, 0);
$status-offline-color: rgb(125, 125, 125);
