.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s ease;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &--log {
    &-enter-active {
      transition: opacity 1s ease;
    }
    &-leave-active {
      transition: opacity 0s ease;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }

  &--error {
    &-enter-active {
      transition: all 0.2s ease;
    }
    &-leave-active {
      transition: all 0.5s ease;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }
}

.zoomin {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
  &-enter-active {
    transition: all 0.4s ease;
  }
  &-leave-active {
    transition: all 0.4s ease;
  }
}

.toast {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-60px);
  }
  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
  &-enter-active {
    transition: all 0.4s ease;
  }
  &-leave-active {
    transition: all 0.5s ease;
  }
}
