.button {
  background-color: $button-bg-color;
  padding: $button-padding;
  border-radius: $button-border-radius;
  border: $button-border;
  font-family: $button-font;
  color: $button-color;
  text-decoration: none;
  &:hover {
    @include button-hover;
  }
  &--primary {
    background-color: $button-primary-bg;
    @include hover-modifier($button-primary-bg);
  }
  &--second {
    background-color: $button-second-bg;
    @include hover-modifier($button-second-bg);
  }
  &--third {
    background-color: $button-third-bg;
    @include hover-modifier($button-third-bg);
  }
  &--grey {
    background-color: $button-grey-bg;
    @include hover-modifier($button-grey-bg);
  }
  &--log-out {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &--log-in {
    font-size: $button-log-in-size;
    padding: $button-log-in-padding;
    height: 4rem;
  }
  &--create-chan {
    margin: 10px;
  }
}

.otp_submit > .button,
.ua-twofa > .button {
  padding: 10px 20px;
  // margin-top: 20px;
  width: auto;
  font-weight: bold;
}

.button-log-in__logo {
  width: $button-log-in-logo-width;
  height: auto;
}

.log-in-div {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  margin: auto;
}
