.toast-wrapper {
  position: fixed;
  width: auto;
  right: 20px;
  top: 20px;
}

.toast-content {
  padding: 20px;
  color: white;
  font-family: "Saira";
  background: darken($third-color, 15);
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba($color: #000000, $alpha: 0.2);
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  &--error {
    background: darken($fourth-color, 15);
  }
}
