.user-account {
  display: grid;
  width: $account-width;
  height: $account-height;
  margin: auto;
  border-radius: 20px;
  @media (max-width: 1200px){
    width: 800px;
  }
  @media (max-width: 950px){
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
