.chat {
  border-radius: $chat-border-radius;
  font-family: $chat-main-font;
  display: flex;
  flex-direction: row;
  height: $chat-height;
  width: $chat-width;
  max-width: 850px;
  margin-left: $chat-margin-left;
  margin-top: 2rem;
  background-color: $chat-bg;
}

.chat-box {
  width: $chat-box-width;
  min-width: $chat-min-width;
  border-radius: $chat-border-radius;
  max-width: 850px;
}

.chat-box__input {
  display: block;
  width: $chat-input-width;
  height: $chat-input-height;
  padding: $chat-input-padding;
  color: $chat-input-color;
  background-color: $chat-input-bg;
  border-radius: $chat-input-border-radius;
  border: $chat-input-border;
  margin-left: $chat-input-margin-left;
  &--greyed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $chat-greyed-input;
    &:hover {
      background-color: $prim-color;
      transition: 200ms;
    }
  }
  &--blued {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $prim-color;
  }
}

// Info band at the top
.chat-header {
  width: $chat-header-width;
  border-radius: $chat-border-radius;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $chat-header-padding;
  background-color: $chat-header-bg;
}

.chat-header__channel-name {
  font-size: $chat-header-font-size;
  color: $chat-font-light;
  width: $chat-header-name-width;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.chat-header__return {
  display: none;
  cursor: pointer;
  @media (max-width: 600px) {
    display: block;
    position: absolute;
    top: 35px;
  }
}

.chat-header__notif {
  cursor: pointer;
  // position: absolute;
  width: 20px;
  height: 20px;
  // border-radius: 20px;
  // right: 20%;
  // top: 34%;
  // margin-left: 42%;
  // margin-top: -80px;
  // background-color: red;
  color: white;
  text-align: center;
  font-weight: 900;
  // &--off {
  //   background-color: grey;
  // }
  // @media(min-width:710px) {
  //   border-radius: 30px;
  // }
}

.chat-channels__notif {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  // right: 25%;
  // top: 34%;
  margin-top: 5px;
  background-color: $fourth-color;
  color: white;
  text-align: center;
  font-weight: 400;
  &--off {
    background-color: grey;
  }
}

.chat-channels__sharp {
  display: inline-block;
}
// .chat-header__tag {
//   border-style: solid;
//   border-radius: $chat-header-border-radius;
//   margin: $chat-header-margin;
//   &--owner {
//   color: $second-color;
//   }
//   &--admin {
//   color: $third-color;
//   }
//   &--settings {
//     margin-left: 0px;
//   }
// }

// .chat-header__online {

// }

.chat-messages {
  height: $chat-msg-container-height;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  margin: $chat-msg-container-margin;
}

// .chat-messages__list {

// }

.chat-channels__locked-msg {
  height: $chat-msg-container-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-channels__lock-img {
  cursor: pointer;
  &--unlocked {
    color: $prim-color;
    animation: fadein ease-out 200ms;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.chat-messages__item {
  // overflow-y: scroll;
  border-bottom: solid;
  border-bottom-width: $chat-msg-border-width;
  border-color: $chat-msg-border-color;
  display: flex;
  padding: $chat-msg-padding;
}
.chat-messages__author {
  min-width: $chat-msg-author-width;
  text-align: left;
}
.chat-messages__content {
  overflow-wrap: anywhere;
  padding-left: $chat-msg-content-padding;
}

// Channels list on the left (or TBD: superimposed in tiny mode)
.chat-channels {
  border-radius: $chat-border-radius;
  padding: $chans-padding;
  background-color: $chans-bg;
  color: $chat-font-light;
  height: $chans-height;
  width: $chans-width;
  min-width: $chans-min-width;
  max-width: 450px;
  overflow-x: hidden;
  // border-right: solid;
  // border-color:$chans-item-hover-bg;
  @media (max-width: 600px) {
    display: none;
  }
  &--on {
    background-color: rgba(0, 0, 0, 0.842);
    display: block;
    position: absolute;
    z-index: 999;
    height: 90%;
    @media (min-width: 600px) {
      position: initial;
      height: $chans-height;
    }
  }
}

.chat-channels__list {
  list-style-type: none;
  padding: $chans-list-padding;
}
.chat-channels__item {
  width: $chans-item-width;
  background-color: $chans-item-bg;
  color: $chat-font-light;
  border-style: none;
  padding: $chans-item-padding;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover,
  &--on {
    background-color: $chans-item-hover-bg;
    color: $chat-font-dark;
    border-style: none;
    transition: 150ms;
  }
}

.chat-channels__name {
  width: $chans-item-name-width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chat-channels__tag-container {
  // background-color:rgba(59, 59, 59, 0.466)
}

.chat-channels__tag {
  margin-left: 0.2rem;
  &--owner {
    color: $second-color;
  }
  &--admin {
    color: $third-color;
  }
  &--admin-togglable {
    color: $third-color;
    cursor: pointer;
  }
  &--locked {
    color: $chat-font-light;
  }
  &--settings {
    margin-left: 2px;
    cursor: pointer;
  }
  &--leave {
    cursor: pointer;
  }
  &--greyed {
    color: grey;
    &:hover {
      color: $chat-font-light;
      cursor: pointer;
    }
  }
  &--ban,
  &--mute {
    cursor: pointer;
  }
}

.chat-channels__create {
  white-space: nowrap;
  width: $chans-createbtn-width;
  padding: $chans-createbtn-padding;
  background-color: $chans-createbtn-bg;
  border-radius: $button-border-radius;
  color: $chat-font-light;
  border-style: double;
  cursor: pointer;
  &:hover {
    background-color: $chat-bg-light;
    color: $chat-bg-dark;
    transition: 150ms;
  }
}

.chat-channels__title {
  padding: $chans-title-padding;
  white-space: nowrap;
  text-align: center;
  text-decoration-line: overline underline;
  font-weight: bold;
}

// New channel form (in modal)
.chat-channel-form {
  position: absolute;
  background-color: $chat-bg-dark;
  color: $chat-font-light;
  width: $channel-form-width;
  padding: $channel-form-padding;
  margin: auto;
  border-radius: $channel-form-border-radius;
  font-family: $chat-main-font;
  &--popup {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 140px;
    width: 400px;
    text-align: center;
    z-index: 3;
  }
}

.chat-channel-form__title {
  border-radius: $channel-form-title-border-radius;
  background-color: $chat-bg-dark;
  padding: $channel-form-title-padding;
  margin: $channel-form-title-margin;
  width: $channel-form-title-width;
  font-size: $channel-form-title-font-size;
  text-align: center;
}

.chat-channel-form__subtitle {
  font-size: $channel-form-subtitle-font-size;
  margin-top: $channel-form-subtitle-margin;
  display: block;
  text-align: center;
}

.chat-channel-form__add-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chat-channel-form__add-member-input {
  margin-top: 8px;
}

.chat-channel-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-channel-form__radio-container {
  margin-right: $channel-form-radio-margin;
}

.chat-channel-form__input {
  border-radius: $channel-form-input-radius;
  margin-bottom: 10px;
}

// .chat-messages__list {
//   position: relative;
// }

.chat-user__card {
  background-color: rgba(59, 59, 59, 0.466);
  display: none;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  height: 2.75rem;
  width: 220px;
  left: 5rem;
  top: -0.6rem;
  z-index: 3000000;
  border-radius: $channel-form-input-radius;
}

.chat-messages__author-container {
  position: relative;
}

.chat-messages__author-container
  > .chat-messages__author:hover
  + .chat-user__card,
.chat-messages__author-container > .chat-user__card:hover {
  display: flex;
}

// .chat-user__card {
//   &:hover {
//     display:block;
//   }
// }

.chat-admin-pannel__tabs {
  display: flex;
  flex-direction: row;
  // margin: 0px;
  justify-content: center;
  padding: 0px;
  margin-top: 20px;
  cursor: pointer;
}
.chat-admin-pannel__tab {
  // padding: 10px;
  // margin-left: 0px;
  width: $chans-item-width;
  background-color: $chans-item-bg;
  color: $chat-font-light;
  border-style: none;
  // padding: $chans-item-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  &:hover,
  &:focus {
    background-color: $chans-item-hover-bg;
    color: $chat-font-dark;
    border-style: none;
    transition: 150ms;
  }
}

.chat-admin-pannel__users-list {
  height: $chat-msg-container-height;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: $chat-bg-light;
}
.chat-admin-pannel__user {
  border-bottom: solid;
  border-bottom-width: $chat-msg-border-width;
  border-color: $chat-msg-border-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $chat-msg-padding;
  min-width: $chat-msg-author-width;
  text-align: left;
}
