.header {
  display: grid;
  grid-template: 1fr / 10% 80% 10%;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 100%;
  background-color: $header-bg-color;
  &--invisible {
    background-color: transparent;
  }
}

.header-link {
  display: flex;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
}

.header__title {
  color: $header-text-color;
  font-size: $header-font-size;
  font-family: $header-font;
  padding-left: $sidebar-width;
  @media (max-width: 950px) {
    padding-left: 0;
  }
}

.header-bloc {
  background-color: $header-bloc-bg;
  padding: 5px 10px;
  border-radius: 25px;
  margin: $user-bloc-margin;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $header-bloc-gap;
}

.user-bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $user-bloc-gap;
  &:hover {
    text-decoration: none;
    opacity: $user-bloc-hover-opacity;
  }
}

.user-bloc__username {
  font-family: $user-bloc-name-font;
  font-size: $user-bloc-name-size;
  color: $user-bloc-name-color;
  @media (max-width: 1200px) {
    font-size: 1rem;
  }
  @media (max-width: 950px) {
    font-size: 0.7rem;
  }
}

.user-bloc__avatar {
  width: $user-bloc-avatar-width;
  height: $user-bloc-avatar-width;
  border-radius: 50%;
}
