@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

.pong-watch__td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pong-score {
  color: white;
  font-size: 3rem;
  font-family: "Saira";
  z-index: 2;
}

canvas {
  z-index: 2;
}

.pong-container {
  position: absolute;
  top: -4rem;
  bottom: 0;
  right: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 800px;
  height: 100vh;
  background-image: radial-gradient(
    ellipse at center,
    #132a46 0%,
    #0c0d13 100%
  );
  overflow: hidden;
  z-index: 2;
  animation: pong-appears 3s ease;
  background-position: top;
}

.pong-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pong-buttons {
  display: flex;
  gap: 1rem;
  z-index: 2;
  &--top {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

@keyframes pong-appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pong-background {
  25% {
    background-position: right;
  }
  50% {
    background-position: bottom;
  }
  75% {
    background-position: left;
  }
}

.pong-btn {
  display: flex;
  gap: 1rem;
  opacity: 0.8;
  align-items: center;
  &:hover {
    opacity: 1;
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: -20%;
  right: -20%;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  $star-count: 50;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) * 0.15);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) * 0.01};
      --top-offset: #{random_range(0vh, 10000vh) * 0.01};
      --fall-duration: #{random_range(6000, 12000s) * 0.001};
      --fall-delay: #{random_range(0, 10000s) * 0.001};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) * -0.5);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
