.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  justify-self: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: $sidebar-width;
  gap: $sidebar-gap;
  color: $sidebar-text-color;
  background-color: $sidebar-bg-color;
  position: fixed;
  padding-top: $header-height;
  @media (max-width: 950px), (max-height: 600px) {
    visibility: hidden;
  }
}

.sidebar-link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: $sidebar-link-gap;
  font-size: $sidebar-font-size;
  font-family: $sidebar-font;
  color: $sidebar-link-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $sidebar-item-hover;
  }
  @media (max-width: 950px) {
    flex-direction: row;
    font-size: 1.2rem;
  }
}

.sidebar-link.active {
  color: $sidebar-link-active-color;
  &:hover {
    color: $sidebar-item-hover;
  }
}

/* .sidebar-link.hot {
  color: darken($third-color, 15);
  &:hover {
    color: $sidebar-item-hover;
  }
} */

.sidebar-link__notif {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  right: 25%;
  top: 34%;
  background-color: $fourth-color;
  color: white;
  text-align: center;
  font-weight: 900;

  @media (max-height: 800px) {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    right: 28%;
    top: 30%;
  }
  @media (max-height: 700px) {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    right: 32%;
    top: 25%;
  }
  @media (max-height: 600px) {
    right: 25%;
    top: 34%;
  }
  @media (max-width: 950px) {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    right: 25%;
    top: 34%;
  }
  @media (max-width: 800px) {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    right: 25%;
    top: 34%;
  }
}

.sidebar-link__icon {
  min-width: 2.5rem;
  width: 100%;
  display: block;
  height: 2.5rem;
  display: inline-block;

  @media (max-height: 950px) {
    min-width: 2rem;
    height: 2rem;
  }
  @media (max-height: 800px) {
    min-width: 2rem;
    height: 2rem;
  }
  @media (max-height: 700px) {
    min-width: 1.5rem;
    height: 1.5rem;
  }
  @media (max-height: 600px) {
    min-width: 1rem;
    height: 1rem;
  }
  @media (max-width: 950px) {
    margin-right: 0.5rem;
    min-width: 1rem;
    height: 1rem;
  }
  @media (max-width: 800px) {
    min-width: 0.75rem;
    height: 0.75rem;
  }
}
