.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  gap: $sidebar-gap;
  padding: $sidebar-padding;
  color: $sidebar-text-color;
  background-color: $sidebar-bg-color;
  &--invisible {
    background-color: transparent;
  }
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $sidebar-link-gap;
  font-size: $sidebar-font-size;
  font-family: $sidebar-font;
  color: $sidebar-link-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $sidebar-item-hover;
  }
}

.sidebar-link.active {
  color: $sidebar-link-active-color;
  &:hover {
    color: $sidebar-item-hover;
  }
}

.sidebar-link__icon {
  min-width: 2.5rem;
  height: auto;
}

